{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Message Alerts -->
    {% if messages %}
        <div class="container mt-2">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Login</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
  </div>
{% endblock %}
